/* Importando nova fonte da internet */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Declarando variáveis */
:root {
    --branco: #e6e4de;
    --preto: #1C1C1C;
    --dourado: #C4A16A;
    --vermelho: #B63232;
    --textoBranco: #eff9f9;
}

* {
    box-sizing: border-box;
}

#container-externo {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 40px;
}

body {
    background-color: var(--branco);
    color: var(--preto);
    font-family: "Inter", sans-serif;
    font-size: 15px;
    margin: 0;
    text-align: justify;
}

/* CONFIGURAÇÕES DA HEADER E SUA TRANSIÇÃO */

#header {
    background-color: var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky; /* Header fixa no topo durante rolagem e ocupa espaço no fluxo */
    transition: all 0.3s ease;
    z-index: 999; /* Para ter certeza que a header ficará sobre qualquer item da página */
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
}

/* Header na sua versão menor = .shrink */
#header.shrink {
    background-color: #1c1c1ce0;
    height: 60px;
    padding: 20px;
    right: 0;
}

#header.shrink .botao{
    background-color: #1c1c1ce0;
    height: 40px;
    padding: 7px;
    font-size: 0.9em;
    width: 100px;
}

#header.shrink #contato {
    background-color: var(--vermelho);
}

.botao {
    background-color: var(--preto);
    border: 1.5px solid var(--branco);
    color: var(--branco);
    font-size: 16px;
    padding: 20px;
    margin: 0 10px 0 10px;
    width: 125px;
}

.botao:hover {
    background-color: var(--dourado);
    transform: scale(1.07);
    cursor: pointer; /* Ponteiro demonstra que há uma ação ali */
    transition: ease-in-out 0.3s;
}

#contato {
    background-color: var(--vermelho);
    color: var(--textoBranco);
}

/* CONFIGURAÇÕES DO SOBREMIM E OUTRAS TAGS */

a {
    text-decoration: none;
    color: var(--textoBranco);
}

h1 {
    font-size: 27px;
    font-weight: bold;
}


#sobreMim, #formacao, #projetos {
    padding: 20px 0 30px 0;
}

img {
    width: 250px;
    height: auto;
    border-radius: 5px;
}

#luiza { 
    height: auto;
    float: left;
    margin: 10px 22px 12px 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

q {
    font-size: 17px;
    font-weight: bold;
    border-left: 3px solid gray;
    padding-left: 7px;
}

span {
    font-style: italic;
    font-size: 12px;
    padding: 10px;
}

/* CONFIGURAÇÕES DA LISTA EM FORMAÇÕES */

/* Grid para ajustar a centralizar as duas colunas da sessão formação */
.formacao-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 30px; 
    margin-top: 15px;
}

#idiomas {
    border-left: 3px solid rgb(75, 75, 75);
    padding-left: 20px;
}

#icone-graduacao,
#icone-idiomas {
    padding-left: 0;
    margin-left: 0;
}

#icone-graduacao li,
#icone-idiomas li {
    list-style: none;
    padding-left: 28px;
    position: relative;
    line-height: 1.8;
}

#icone-graduacao li::before {
    content: url('imagens/chapeu.png'); /* Marcador como chapéu de formatura */
    position: absolute;
    left: 0;
    top: 0;
}

#icone-idiomas li::before {
    content: url('imagens/livro.png'); /* Marcador como ícone de livro */
    position: absolute;
    left: 0;
    top: 0;
}

/* CONFIGURAÇÕES DOS PROJETOS E SUAS TRANSIÇÕES */

.container-projetos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Quebra a linha se não tiver espaço*/
    gap: 25px; /* Espaço entre divs */
}

.projeto, .emBreve {
    position: relative;
    width: 250px;
    height: auto;
    overflow: hidden; /* Tudo que estiver fora da div é cortado */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.projeto img, .emBreve img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção das imagens */
    display: block;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden; /* Esconde a parte de trás  */
}

.emBreve img {
    filter: grayscale(60%) blur(3px); /* Tom de cinza e blur aos projetos ainda não finalizados para maior suspense */
}

.middle {
    text-align: center;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.projeto:hover img, .emBreve:hover img {
    opacity: 0.3;
}

.projeto:hover img {
    filter: blur(3px);
}

.projeto:hover .middle, .emBreve:hover .middle {
    opacity: 1;
}

.projeto:hover, .emBreve:hover, .texto a:hover {
    cursor: pointer;
}

.texto {
    background-color: var(--vermelho);
    color: var(--textoBranco);
    font-size: 15px;
    padding: 15px 23px;
}

.texto a {
    color: var(--textoBranco);
    text-decoration: none;
    font-weight: bold;
}

.descricao {
    font-size: 12px;
    text-align: center;
    color: var(--preto);
}

/* CONFIGURAÇÕES DO POP-UP E SEUS ELEMENTOS */

#popup {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 2px 2px 7px #1c1c1c6b;
    font-size: 17px;
    background-color: rgb(207, 207, 200);
}

#nome, #email, #msg {
    margin-bottom: 5px;
}

#popup::backdrop {
    background-color: #1c1c1c77;
}

#enviar, #fechar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #1C1C1Cce;
    border: none;
    color: var(--branco);
    font-size: 16px;
    padding: 15px;
    margin: 10px 5px 7px 0;
    height: 15px;
}

#enviar, #fechar:hover {
    cursor: pointer;
}

/* CONFIGURAÇÕES DO RODAPÉ*/

footer {
    background-color: var(--preto);
    color: var(--textoBranco);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
    margin-top: 10px;
    bottom: 0;
}